[submodule "vlingo-net-http"]
	path = vlingo-net-http
	url = https://github.com/vlingo-net/vlingo-net-http
[submodule "vlingo-net-symbio-ado"]
	path = vlingo-net-symbio-ado
	url = https://github.com/vlingo-net/vlingo-net-symbio-ado
[submodule "vlingo-net-directory"]
	path = vlingo-net-directory
	url = https://github.com/vlingo-net/vlingo-net-directory
[submodule "vlingo-net-symbio"]
	path = vlingo-net-symbio
	url = https://github.com/vlingo-net/vlingo-net-symbio
[submodule "vlingo-net-cluster"]
	path = vlingo-net-cluster
	url = https://github.com/vlingo-net/vlingo-net-cluster
[submodule "vlingo-net-wire"]
	path = vlingo-net-wire
	url = https://github.com/vlingo-net/vlingo-net-wire
[submodule "vlingo-net-actors"]
	path = vlingo-net-actors
	url = https://github.com/vlingo-net/vlingo-net-actors
[submodule "vlingo-net-common"]
	path = vlingo-net-common
	url = https://github.com/vlingo-net/vlingo-net-common
[submodule "vlingo-net-uuid"]
	path = vlingo-net-uuid
	url = https://github.com/vlingo-net/vlingo-net-uuid
[submodule "vlingo-net-auth"]
	path = vlingo-net-auth
	url = https://github.com/vlingo-net/vlingo-net-auth
