[submodule "xoom-net-http"]
	path = xoom-net-http
	url = ../xoom-net-http
[submodule "vlingo-net-symbio-ado"]
	path = vlingo-net-symbio-ado
	url = ../vlingo-net-symbio-ado
[submodule "vlingo-net-directory"]
	path = vlingo-net-directory
	url = ../vlingo-net-directory
[submodule "vlingo-net-symbio"]
	path = vlingo-net-symbio
	url = ../vlingo-net-symbio
[submodule "vlingo-net-cluster"]
	path = vlingo-net-cluster
	url = ../vlingo-net-cluster
[submodule "xoom-net-wire"]
	path = xoom-net-wire
	url = ../xoom-net-wire
[submodule "xoom-net-actors"]
	path = xoom-net-actors
	url = ../xoom-net-actors
[submodule "xoom-net-common"]
	path = xoom-net-common
	url = ../xoom-net-common
[submodule "xoom-net-uuid"]
	path = xoom-net-uuid
	url = ../xoom-net-uuid
[submodule "vlingo-net-auth"]
	path = vlingo-net-auth
	url = ../vlingo-net-auth
[submodule "vlingo-net-examples"]
	path = vlingo-net-examples
	url = ../vlingo-net-examples
[submodule "vlingo-net-lattice"]
	path = vlingo-net-lattice
	url = ../vlingo-net-lattice
[submodule "vlingo-net-xoom"]
    path = vlingo-net-xoom
    url = ../vlingo-net-xoom