version: 0.0.{build}
image:
  - Visual Studio 2019
  - Ubuntu
  - macos
  - macos-mojave
configuration: Release
skip_commits:
  message: /.*\[ci\-skip\].*/ 
before_build:
- dotnet restore all_in_one.sln
build:
  project: all_in_one.sln
  verbosity: minimal
  publish_nuget: true
#test_script:
#- dotnet test all_in_one.sln
deploy:
- provider: NuGet
  api_key:
    secure: S7SGXqFTXTOVbVLP45Ofyf/iTsIOr9o0F/QEeQkaUMqb/PkwWjXK6+CF4WAqbfWr
  skip_symbols: true
  artifact: /.*\.nupkg/
  on:
    branch: master
notifications:
  - provider: Webhook
    url: https://webhooks.gitter.im/e/2b56d1ca84637acb9ee8
    method: POST
    on_build_success: true
    on_build_failure: true
    on_build_status_changed: true
clone_script:
- git submodule update --init --recursive